datapackage==0.8.9
datashader==0.6.8
datashape==0.5.2
daterangestr==0.0.3
jsonlines==1.2.0
jsonschema==2.6.0
jsontableschema==0.10.1
Markdown==2.6.11
numpy==1.22.0
pandas==0.22.0
pandas-datareader==0.6.0
pickleshare==0.7.4
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.4
python-editor==1.0.3
python-slugify==3.0.4
requests==2.13.0
requests-file==1.4.3
requests-ftp==0.3.1
scipy==1.0.0
sklearn==0.0
sortedcontainers==2.0.5
